.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-family: 'karle';
  z-index: 2;
  position: relative;

  .header {
    height: 179px;

    .black-line {
      position: absolute;
      top: 41px;
    }

    .banner-container {
      top: -36px;
      left: 720px;
      position: absolute;
      width: 500px;
      z-index: 3;

      .banner-image {
        background-image: url('/assets/images/banner.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: auto;
        height: 261px;
      }
    }

  }

  .content {
    width: 100%;
    height: 100vh;
    display: flex;

    .left-content {
      min-width: 560px;
      height: 100%;
    }

    .right-content {
      width: 100%;
      height: 100%;
    }
  }

  .footer {
    .black-line {
      margin-bottom: 39px;
    }
  }

  .black-line {
    width: 100%;
    height: 102px;
    background-color: black;
    border-bottom: 2px solid aqua;
    border-top: 2px solid aqua;
  }
}

.left-content {
  .demo-pc-content {
    position: relative;

    .demo-pc-image {
      position: absolute;
      width: 300px;
      height: 400px;
      background-image: url('/assets/images/img-demo-pc.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      left: 186px;
      top: 117px;
      transition: transform .2s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);

        .btn-overplay {
          display: block;
        }
      }
    }

    .btn-overplay {
      position: absolute;
      width: 65px;
      height: 60px;
      display: none;
      top: 175px;
      border: 1px solid aqua;
      border-radius: 10px;
      background-color: rgb(0, 0, 0, 0.5);
      padding: 10px;
      transition: transform .2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .btn-update {
      left: 59px;
    }

    .btn-setting {
      left: 153px;
    }

    .btn-icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 37px;
      width: 100%;
      height: 100%;
      display: block;
    }

    .btn-setting-icon {
      background-image: url('/assets/images/setting.png');

    }

    .btn-update-icon {
      background-image: url('/assets/images/update.png');
    }
  }

  .total-price {
    font-size: 3em;
    color: gold;
    position: absolute;
    top: 718px;
    left: 200px;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
}

.right-content {
  .right-content-main {
    padding: 10px;

    .pc-information {
      width: 1100px;
      height: auto;
      position: relative;
      border: 2px solid aqua;
      -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 255, 255, 0.5);
      -moz-box-shadow: 0px 0px 10px 2px rgba(0, 255, 255, 0.5);
      box-shadow: 0px 0px 10px 2px rgba(0, 255, 255, 0.5);

      .conner-icon {
        position: absolute;
        width: 15px;
        height: 15px;
        border: 0;
      }

      .conner-1 {
        border-left: 4px solid aqua;
        border-top: 4px solid aqua;
        top: 0;
        left: 0;
      }

      .conner-2 {
        border-top: 4px solid aqua;
        border-right: 4px solid aqua;
        top: 0;
        right: 0;
      }

      .conner-3 {
        border-right: 4px solid aqua;
        border-bottom: 4px solid aqua;
        bottom: 0;
        right: 0;
      }

      .conner-4 {
        border-left: 4px solid aqua;
        border-bottom: 4px solid aqua;
        bottom: 0;
        left: 0;
      }

      .pc-hardware-list {
        padding: 25px;

        .pc-hardware-item {
          padding: 10px 40px;
          height: auto;
          border-bottom: 1px solid aqua;
          transition: transform .2s;
          background-color: rgb(0, 0, 0, 0.5);

          &:hover {
            transform: scale(1.1);
            border-radius: 4px;
            border: 1px solid aqua;
            -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 255, 255, 0.5);
            -moz-box-shadow: 0px 0px 20px 5px rgba(0, 255, 255, 0.5);
            box-shadow: 0px 0px 20px 5px rgba(0, 255, 255, 0.5);
          }

          .pc-hardware-item-link {
            color: #ffffff;
            display: flex;
            align-items: center;

            &:hover {
              text-decoration: none;
              color: aqua;
            }

            .pc-hardware-image {
              width: 120px;
              height: 60px;

              img {
                width: auto;
                height: 60px;
              }
            }

            .pc-hardware-name {
              width: 700px;
              padding: 0px 50px 0 30px;
              font-size: 1.2em;
            }

            .pc-hardware-price {
              span {
                display: block;

                &.old-price {
                  color: red;
                  text-decoration: line-through;
                }

                &.current-price {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.loading-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  background-color: rgba(10, 9, 23, 0.95);
  display: none;

  .lds-roller {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
  }

  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }

  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
  }

  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }

  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }

  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }

  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }

  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }

  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }

  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }

  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }

  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }

  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }

  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }

  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }

  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }

  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }

  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }

  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }

  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.background-image-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url('/assets/images/img-body-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: 0;
}

.background-color-overlay {
  background-color: rgba(10, 9, 23, 0.95);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}